<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="at.ac.tuwien.big.ame13.atl2java.atl2javamm.presentation.Atl2javaModelWizardID"
            name="%_UI_Atl2javaModelWizard_label"
            class="at.ac.tuwien.big.ame13.atl2java.atl2javamm.presentation.Atl2javaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Atl2javaModelFile.gif">
         <description>%_UI_Atl2javaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="at.ac.tuwien.big.ame13.atl2java.atl2javamm.presentation.Atl2javaEditorID"
            name="%_UI_Atl2javaEditor_label"
            icon="icons/full/obj16/Atl2javaModelFile.gif"
            extensions="atl2java"
            class="at.ac.tuwien.big.ame13.atl2java.atl2javamm.presentation.Atl2javaEditor"
            contributorClass="at.ac.tuwien.big.ame13.atl2java.atl2javamm.presentation.Atl2javaActionBarContributor">
      </editor>
   </extension>

</plugin>
